@{
    ViewBag.Title = "Order is processed ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for choosing</h2>
<p>The order in the shortest time will be sent to a delivery service</p>

